.content {
  position: relative;

  .tabs {
    &__caption {
      position: absolute;
      top: 33%;
      left: 0;
      font: 500 18px / 22px "Inter";
      transform: translateY(-50%);
      cursor: pointer;
      color: $color-white;


      li {
        font: inherit;
        transition: all 0.3s ease-in-out;

        &.active,
        &:hover {
          color: $color-carnation;
        }

        &:not(:last-child) {
          margin-bottom: 21px;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include r($md) {
      flex-direction: column;
    }
  }

  &__first {
    margin-top: auto;
    margin-bottom: 72px;

    @include r($md) {
      margin-top: 75px;
      margin-bottom: 20px;
      order: 1;
    }
  }

  &__list {
    position: relative;
    padding-top: 25px;
    columns: 2;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 30px;
      height: 1px;
      background-color: $color-white;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    font: 500 12px / 15px "Inter";
    color: $color-nevada;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 27px;
    }

    @include r($md) {
      margin-bottom: 25px;
    }

    svg {
      margin-right: 24px;
      width: 20px;
      height: 20px;
    }
  }

  &__second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 510px;

    @include r($md) {
      margin-bottom: 60px;
    }


    >.content {
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 368px;
        // width: 100%;
        height: 536px;
        background: url(../img/bg.png) center / cover no-repeat;

        @include r($md) {
          max-width: 220px;
          // width: 100%;
          height: 332px;
        }

        img {
          max-width: 509px;
          min-height: 304px;

          @include r($md) {
            max-width: 278px;
            min-height: 186px;
          }
        }
      }

      &__title {
        margin: 0;
        margin-top: -85px;
        max-width: 419px;
        font: 200 72px / 87px "Inter";
        text-align: center;
        color: $color-white;

        @include r($md) {
          margin-top: -50px;
          font: 200 48px / 58px "Inter";
        }
      }

      &__descr {
        margin-bottom: 36px;
        max-width: 382px;
        font: 400 16px / 22px "Inter";
        text-align: center;
        color: $color-nevada;

        @include r($md) {
          max-width: 290px;
          font: 400 15px / 21px "Inter";
        }
      }

      &__link {
        padding: 18px 32px;
        font: 600 16px / 19px "Inter";
        border-radius: 20px;
        border: 1px solid $color-shark;
        text-align: center;
        color: $color-white;
        outline: transparent;
        transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.5s ease-in-out;

        @include r($md) {
          max-width: 290px;
          padding: 15px 33px;
          font: 600 15px / 18px "Inter";
        }

        &:focus {
          color: $color-carnation;
          border-color: $color-carnation;
        }

        &:hover {
          color: $color-black;
          background-color: $color-white;
          border-color: $color-black;
        }

        &:active {
          color: $color-carnation;
        }
      }
    }
  }

  &__third {
    margin-top: auto;
    margin-bottom: 50px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    height: 220px;

    @include r($md) {
      margin-right: 0;
      flex-direction: column;
    }
  }

  &__third-img {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 149px;
    height: 216px;
    border-radius: 75px;
    background-color: #e3ebf7;

    @include r($md) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 129px;
      min-height: 186px;
    }

    svg {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background: linear-gradient(271.03deg, #FC836A 0.87%, #FA7869 43.12%, #F76C68 99.13%);
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__wrap {
    @include r($md) {
      text-align: center;
      margin-bottom: 50px;
    }

    >.content {
      &__title {
        margin: 0;
        margin-bottom: 12px;
        max-width: 176px;
        font: 500 24px / 29px "Inter";
        color: $color-white;

        @include r($md) {
          margin-bottom: 20px;
          font: 500 18px / 22px "Inter";
        }
      }

      &__descr {
        margin: 0;
        font: 400 16px / 19px "Inter";
        color: $color-nevada;

        @include r($md) {
          font: 400 15px / 18px "Inter";
        }
      }
    }
  }
}