.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__wrap {
    display: flex;
  }

  &__sort,
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 13px 15px;
    min-width: 105px;
    font: 400 14px / 17px "Inter";
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 13px;
    }

    &:hover {
      color: $color-white;
      border-color: $color-shark4;
      box-shadow: 0.907px 12.968px 35px rgba(0, 0, 0, 0.212);
    }

    svg {
      margin-left: 20px;
      max-width: 17px;
      height: 17px;
    }
  }
}