.filter-drop {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  z-index: 10;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(26, 29, 32, 0.8);
    z-index: -1;
  }

  &__wrapper {
    height: 100%;
    padding: 56px 58px 60px 60px;
    background: #1a1d20;
    border-radius: 40px 0 0 40px;
    font-family: "Inter", sans-serif;
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-bottom: 34px;
    text-transform: uppercase;
    font: 400 12px / 15px "Inter";
    color: $color-nevada;
  }

  &__title {
    margin-bottom: 48px;
    text-align: center;
    font: 600 24px / 29px "Inter";
  }

  &__form {
    margin-left: 34px;
    margin-bottom: 32px;
    font: 500 15px / 18px "Inter";

    label {
      position: relative;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 34px;
      }

      &:before,
      &::after {
        position: absolute;
        content: '';
        border-radius: 50%;
      }

      &:before {
        top: 3px;
        left: -27px;
        width: 17px;
        height: 17px;
        border: 1px solid #25292C;
      }

      &::after {
        top: 7.5px;
        left: -22.5px;
        width: 8px;
        height: 8px;
      }
    }

    input {
      display: none;

      &:checked+label {
        &::after {
          transition: all 0.3s ease-out;
          background-color: #f76c68;
        }
      }
    }
  }

  &__category {
    margin-bottom: 16px;
    font: 500 15px / 18px "Inter";
  }

  &__subtitle {
    margin-bottom: 16px;
    font: 500 15px / 18px "Inter";
  }

  &__subtitle-wrap {
    flex-basis: 100%;
  }
}