.nav {

  &__list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {


    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__link {
    font: 500 15px / 18px "Inter";
    color: $color-nevada;
    transition: color 0.3s ease-in-out;

    &:focus {
      color: $color-carnation;
    }

    &:hover {
      color: $color-white;
    }

    &:active {
      color: $color-carnation;
    }
  }

  &__btn {
    display: block;
    margin-top: 10px;
    width: 30px;
    height: 30px;

    &:hover {

      span,
      span:before,
      span::after {
        background-color: $color-carnation;
      }
    }

    span,
    span:before,
    span::after {
      height: 1px;
      background-color: $color-white;
      transition: background-color 0.3s ease-in-out;
    }

    span {
      position: relative;
      display: block;
      width: 24px;

      &::before {
        content: "";
        top: -6px;
        left: 0;
        position: absolute;
        width: 30px;
      }

      &::after {
        content: "";
        bottom: -6px;
        left: 0;
        position: absolute;
        width: 30px;
      }
    }
  }
}