.search {
  margin-bottom: 25px;

  @include r($md) {
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-right: 56px;
    font: 600 36px / 44px "Inter";
    color: $color-white;
  }

  &__form {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 140px;
    height: 18px;
    margin-right: 35px;
  }

  &__input {
    max-width: 160px;
    font: 400 15px / 18px "Inter";
    color: $color-nevada;
    border: none;
    outline: transparent;
    background-color: $color-shark3;
  }

  &__btn {
    svg {
      width: 15px;
      height: 16px;
    }
  }
}