<section class="catalog">
    <div class="catalog__container">
        <div class="filter">
            <ul class="filter__list list-reset">
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        <img src="../img/leather-chelsea-boots.png" alt="boots" class="filter__img"></a>
                </li>
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        <img src="../img/men-hat.png" alt="hat" class="filter__img"></a>
                </li>
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        <img src="../img/bag-1.png" alt="bag" class="filter__img"></a>
                </li>
                <li class="filter__item">
                    <a href="#" class="filter__link">
                        <img src="../img/pilot-sunglasses.png" alt="sunglasses" class="filter__img"></a>
                </li>
            </ul>
            <div class="filter__wrap">
                <button class="btn btn-reset filter__sort sort">Sort
                    <svg>
                        <use xlink:href="./img/icons/icons.svg#sort"></use>
                    </svg>
                </button>
                <button class="btn btn-reset filter__menu filter-menu">Filter
                    <svg>
                        <use xlink:href="./img/icons/icons.svg#filter"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>