<section class="filter-drop">
    <div class="filter-drop__wrapper">
        <button class="filter-drop__btn btn-reset">Close</button>
        <div class="filter-drop__title">Filter</div>
        <div class="filter-drop__top">
            <form class="filter-drop__form">
                <input type="checkbox" id="filter1" name="filter1" value="Men" checked>
                <label for="filter1">Men</label>
                <input type="checkbox" id="filter2" name="filter2" value="Women">
                <label for="filter2">Women</label>
            </form>
        </div>
    </div>
</section>