<section class="filter-drop">
    <div class="filter-drop__wrapper">
        <button class="filter-drop__btn btn-reset">Close</button>
        <p class="filter-drop__title">Filter</p>

        <div class="filter-drop__checkbox">
            <form class="filter-drop__form">
                <input type="checkbox" id="filter1" name="filter1" value="Men" checked>
                <label for="filter1">Men</label>
                <input type="checkbox" id="filter2" name="filter2" value="Women">
                <label for="filter2">Women</label>
            </form>
        </div>

        <div class="filter-drop__categories">
            <p class="filter-drop__category">Categories</p>
            <div class="custom-select">
                <form class="custom-select__form">
                    <select>
                        <option value="0">Select Categories</option>
                        <option value="1">Hat</option>
                        <option value="2">Shoes</option>
                        <option value="3">Old Hat</option>
                    </select>
                </form>
            </div>
        </div>

        <ul class="color-list colors-form list-reset">
            <li class="filter-drop__subtitle-wrap">
                <p class="filter-drop__subtitle">Color</p>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-1" class="color-list__checkbox">
                <label for="color-1" class="color-list__label color-1"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-2" class="color-list__checkbox">
                <label for="color-2" class="color-list__label color-2"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-3" class="color-list__checkbox">
                <label for="color-3" class="color-list__label color-3"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-4" class="color-list__checkbox">
                <label for="color-4" class="color-list__label color-4"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-5" class="color-list__checkbox">
                <label for="color-5" class="color-list__label color-5"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-6" class="color-list__checkbox">
                <label for="color-6" class="color-list__label color-6"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-7" class="color-list__checkbox">
                <label for="color-7" class="color-list__label color-7"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-8" class="color-list__checkbox">
                <label for="color-8" class="color-list__label color-8"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-9" class="color-list__checkbox">
                <label for="color-9" class="color-list__label color-9"></label>
            </li>
            <li class="color-list__item">
                <input type="checkbox" name="" id="color-10" class="color-list__checkbox">
                <label for="color-10" class="color-list__label color-10"></label>
            </li>
        </ul>

        <div class="filter-drop__subtitle-wrap ">
            <p class="filter-drop__subtitle">Price</p>
            <div class="range-slider">
                <input type="text" class="js-range-slider" name="my_range" value="" />
            </div>
        </div>

        <ul class="brand-list list-reset">
            <li class="filter-drop__subtitle-wrap">
                <p class="filter-drop__subtitle">Brand</p>
            </li>
            <li class="brand-list__item">
                <input type="checkbox" name="" id="brand-1" class="brand-list__checkbox">
                <label for="brand-1" class="brand-list__label brand-1">
                    <img src="./../img/Clip.png" alt="Brand images" class="brand-list__img">
                </label>
            </li>
            <li class="brand-list__item">
                <input type="checkbox" name="" id="brand-2" class="brand-list__checkbox">
                <label for="brand-2" class="brand-list__label brand-2">
                    <img src="./../img/crab.png" alt="Brand images" class="brand-list__img">
                </label>
            </li>
            <li class="brand-list__item">
                <input type="checkbox" name="" id="brand-3" class="brand-list__checkbox">
                <label for="brand-3" class="brand-list__label brand-3">
                    <img src="./../img/l1.png" alt="Brand images" class="brand-list__img">
                </label>
            </li>
            <li class="brand-list__item">
                <input type="checkbox" name="" id="brand-4" class="brand-list__checkbox">
                <label for="brand-4" class="brand-list__label brand-4">
                    <img src="./../img/l3.png" alt="Brand images" class="brand-list__img">
                </label>
            </li>
            <li class="brand-list__item">
                <input type="checkbox" name="" id="brand-5" class="brand-list__checkbox">
                <label for="brand-5" class="brand-list__label brand-5">
                    <img src="./../img/l6.png" alt="Brand images" class="brand-list__img">
                </label>
            </li>
            <li class="brand-list__item">
                <input type="checkbox" name="" id="brand-6" class="brand-list__checkbox">
                <label for="brand-6" class="brand-list__label brand-6">
                    <img src="./../img/velit.png" alt="Brand images" class="brand-list__img">
                </label>
            </li>

        </ul>

        <div class="button-wrap">
            <button class="btn-filter btn-reset">Clear</button>
            <button class="btn-filter btn-filter--accent btn-reset">Filter</button>
        </div>


    </div>
</section>