<section class="filter-drop">
    <div class="filter-drop__wrapper">
        <button class="filter-drop__btn btn-reset">Close</button>
        <div class="filter-drop__title">Filter</div>
        <div class="filter-drop__checkbox">
            <form class="filter-drop__form">
                <input type="checkbox" id="filter1" name="filter1" value="Men" checked>
                <label for="filter1">Men</label>
                <input type="checkbox" id="filter2" name="filter2" value="Women">
                <label for="filter2">Women</label>
            </form>
        </div>
        <div class="filter-drop__categories">
            <div class="filter-drop__category">Categories</div>
            <div class="custom-select">
                <form class="custom-select__form">
                    <select>
                        <option value="0">Select Categories</option>
                        <option value="1">Hat</option>
                        <option value="2">Shoes</option>
                        <option value="3">Old Hat</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="filter-drop__colors">
            <div class="filter-drop__color color">Color</div>
            <form class="color__from">
                <label class="color__item visually-hidden">Grey
                    <input type="checkbox" checked="checked">
                    <span class="checkmark checkmark--grey"></span>
                </label>
                <label class="color__item visually-hidden">White
                    <input type="checkbox">
                    <span class="checkmark checkmark--grey"></span>
                </label>
                <label class="color__item visually-hidden">Yellow
                    <input type="checkbox">
                    <span class="checkmark checkmark--grey"></span>
                </label>
                <label class="color__item visually-hidden">Shaft
                    <input type="checkbox">
                    <span class="checkmark checkmark--grey"></span>
                </label>
                <label class="color__item visually-hidden">Pink
                    <input type="checkbox">
                    <span class="checkmark checkmark--grey"></span>
                </label>
            </form>
        </div>
    </div>
</section>