<section class="search">
    <div class="search__container">
        <h2 class="search__title">Store</h2>
        <nav class="search__nav nav-search">
            <ul class="nav-search__list list-reset">
                <li class="nav-search__item">
                    <a href="#" class="nav__search__link">All</a>
                </li>
                <li class="nav-search__item">
                    <a href="#" class="nav__search__link">Men</a>
                </li>
                <li class="nav-search__item">
                    <a href="#" class="nav__search__link">Women</a>
                </li>
                <li class="nav-search__item">
                    <a href="#" class="nav__search__link">Kids</a>
                </li>
                <li class="nav-search__item">
                    <a href="#" class="nav__search__link">Other</a>
                </li>
            </ul>
        </nav>
        <form class="search__form">
            <label for="prod-search"><span class="visually-hidden">Search anything...</span></label>
            <input class="search__input" type="text" id="prod-search" name="prod-search"
                placeholder="Search anything..." required>
            <button class="search__btn btn-reset" type="submit">
                <span class="visually-hidden">Search button</span>
                <svg>
                    <use xlink:href="./img/icons/icons.svg#icon-search"></use>
                </svg>
            </button>
        </form>
    </div>
</section>