<section class="search">
    <h2 class="visually-hidden">Search section</h2>
    <div class="search__container">
        <form class="search__form">
            <label for="prod-search"><span class="visually-hidden">Search anything...</span></label>
            <input class="search__input" type="text" id="prod-search" name="prod-search"
                placeholder="Search anything..." required>
            <button class="search__btn btn-reset" type="submit">
                <span class="visually-hidden">Search button</span>
                <svg>
                    <use xlink:href="./img/icons/icons.svg#icon-search"></use>
                </svg>
            </button>
        </form>
    </div>
</section>