html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $color-white;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  color: $color-nevada;
  border-radius: 15px;
  border: 1px solid $color-shark;
  background-color: $color-shark4;
  transition: all 0.3s ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.tabs {
  &__content {
    display: none;

    &.active {
      display: block;
      color: $color-carnation;
    }
  }

  &__caption {
    transition: color 0.3s ease-in-out;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: $color-shark4;

  @include r($md) {
    flex-direction: column;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 80px 60px 90px;
  border-radius: 40px 0 0 40px;
  background-color: $color-shark3;
  z-index: 15;

  @include r($md) {
    padding: 50px 25px 40px;
    border-radius: 0;
  }
}

.container {
  margin: 0 auto;
  // padding: 0 80px 0 70px;
  max-width: 1600px;
}

.catalog>.swiper-container {
  width: 100%;
  height: 100%;
}

.catalog__product>.swiper-container {
  width: 420px;
  height: 300px;
}